{% extends "_base.twig" %}
{% block content %}
<h1>{{ title }}</h1>
<strong>{{ author }}</strong><br>
<p>{{ dt_display | date("F j \\, Y") }}</p>
{#<p>#}
  {#{{ blurb }}#}
{#</p>#}

{{ content | raw}}
<br><br>
{{ comments | raw }}
{% endblock %}
