{% extends "_base.twig" %}
{% block content %}
<h1>{{ title }}</h1>
<p>
  {{ blurb }}
</p>

<div class = "articles">
  {% for article in articles %}
    <h1>{{ article.title }}</h1>
    {{ article.blurb | raw }}
    {{ article.body | raw }}
    <hr>
  {% endfor %}
</div> <!--/articles-->

{% endblock %}
