{% extends "_base.twig" %}
{% block content %}
<h1>{{ title }}</h1>
<p>
  {{ blurb }}
</p>

<div class = "articles">
  {% for article in articles %}
    <h1><a href=/article/{{article.url}}>{{ article.title }}</a></h1>
    {{ article.body | raw }}
    <p><a href=/article/{{article.url}}>read more >>></a></p>
    <hr>
  {% endfor %}
</div> <!--/articles-->

{% endblock %}
