{% extends "_base.twig" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/ace/1.2.3/noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
{#<script src="/scripts/ace_set.js" type="text/javascript" charset="utf-8"></script>#}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <h2>Update/Publish article</h2>
  <p id="result"></p>
  <div id="col1" class="col-md-12">
  <form method="post" action="" id="publish_form">

    <div class="form-group">
      <label for="category_title">Category:</label>
      <select class="form-control" id="category" name="category">
        <option value = "all">Select a category</option>
        <option value = "null">[uncategorized]</option>
        {% for cat in categories %}
          <option value="{{ cat.category }}">{{ cat.category }} </option>
        {% endfor %}
      </select>

      <label for="update_art">Update article:</label>

      <div class='center' style="float: right;">
        <label class="radio-inline">
          <input id='sortByDate' type="radio" name="sortArticle" value="date" >date
        </label>
        <label class="radio-inline">
          <input id='sortByTitle' type="radio" name="sortArticle" value="title" checked="checked">title
        </label>
      </div>

      <select class="form-control" id="article_sel" name="article_sel">
        <option value = "null">Select article to update</option>
        {% for page in currentPages %}
          <option value="{{ page.id }}">{{ page.title }} </option>
        {% endfor %}
      </select>
      <button id="delete" type="button" class="btn btn-primary">delete</button>
    </div>

    <div class = "checkbox">
      <label><input type="checkbox" id="is_published" name="is_published" value="">published</label>
      <label><input type="checkbox" id="parse_math" name="parse_math" value="">has math</label>
    </div>

    <div class="form-group">
      <label for="set_category">Set Category:</label>
      <select class="form-control" id="set_category" name="set_category">
        <option value = "all">Select a category</option>
        <option value = "null">[uncategorized]</option>
        {% for cat in categories %}
          <option value="{{ cat.category }}">{{ cat.category }} </option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="date">Date displayed:</label>
      <input type="date" class="form-control" id="dt_display" name="dt_display" value=""/>
    </div>

    <div class="form-group">
      <label for="tags">Set tags (comma separated):</label>
      <input type="text" class="form-control" id="tags_set" name="tags_set" value=""/>
    </div>

    <div class="form-group">
      <label for="url">Url:</label>
      <input type="text" class="form-control" id="url" name="url" value=""/>
    </div>

    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" name="title" value=""/>
    </div>

    <div class="form-group">
      <label for="blurb">Blurb:</label>
      <textarea  class="form-control" id="blurb" name="blurb"></textarea>
    </div>

    <div id="body_group" class="form-group">
      <label for="body">Body: </label>
      <div class='center' style="float: right;">
        <label class="radio-inline">
          <input id='radioAuto' type="radio" name="optradio" value="auto" checked="checked">auto
        </label>
        <label class="radio-inline">
          <input id='radioSplit' type="radio" name="optradio" value="split">split
        </label>
        <label class="radio-inline">
          <input id='radioStack' type="radio" name="optradio" value="stack">stack
        </label>
      </div>
      <div id="resizable">
        <h3 class="ui-widget-header">Ace Editor</h3>
        <div id="editor"></div>
      </div>
      <textarea class="form-control" id="body" name="body" data-editor="markdown" rows="30"></textarea>
    </div>

    <input id= "submit" type="submit" name="submit" value="Create"/>
    <button id="prev" type="button" class="btn btn-primary">preview</button>
    <button id="update" type="button" class="btn btn-primary">update</button>
  </form>
  <div><br></div>
  <!--Upload file-->
  <form action="#" method="post" enctype="multipart/form-data" id="upload_file">
      <div class="form-group">
        <label for="quick_up">Quick image upload:</label>
        <select class="form-control" id="dir_sel" name="dir_sel">
          <option value = "null">Select directory</option>
          {% for dir in directories %}
            <option value="{{ dir }}">{{ dir }} </option>
          {% endfor %}
        </select>
        <button id="list_img" type="button" class="btn btn-primary">list images</button>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="new_dir_name" name="new_dir_name" 
          value='New directory name'
          onfocus="if(this.value == 'New directory name') {this.value=''}"
          onblur="if(this.value == ''){this.value ='New directory name'}">
        <button id="new_dir" type="button" class="btn btn-primary">create dir</button>
      </div>

      <input type="file" name="fileToUpload" id="fileToUpload">
      <input type="submit" value="Upload Image" name="submit">
      <div id="hater_spinner" style="display: none;">
        <img src="/img/haters.gif"/>
      </div>
      <div id="upload_result" style="display: none;"></div>
  </form>
  </div> <!--end form column-->


  <div id="col2" class="col-md-12"> <!--preview column should float on right-->
  <div id="preview">
  </div>
  </div> <!--end preview column-->

<script src="/scripts/publish.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
